*.o
*.so
CMakeFiles
cmake_install.cmake
CMakeCache.txt
commit.sh
tpcanalexec
rootdata/
.vscode/
build/*
!build/.gitkeep
dict/build/*
!dict/build/.gitkeep
point_coords_u.csv
point_coords_v.csv
point_coords_w.csv
testcalc.cpp
entries.pdf
converteddata/
